.text-like {
	border: 0 none;
	display: inline;
}

.custom-editable {
	max-width: 80%;
	display: inline;
	background: transparent;
}

.dirty .ng-dirty {
	font-weight: bold;
}

.btn[disabled] {
	opacity: 0.2;
}

.address {
	width: 350px;
	max-width: none;
}

.md-overlay {
    opacity: 1;
    visibility: visible;
}

.invoice-items-wrapper {
	max-height: 120px;
	overflow: auto;
	margin-bottom: 20px;
}

.invoice-items-wrapper table {
	margin-bottom: 0;
}

.invoice-items input {
	width: 50px;
}

.invoice-items tbody > tr > td:first-child {
	font-size: 13px;
}

.invoice-items .pr-name {
	width: 200px;
}

.md-modal {
	max-width: 1000px;
	max-height: 100%;
	width: 65%;
	overflow-y: auto;
}

.modal-body {
	padding-top: 0;
}

.modal-header {
	background: #03a9f4;
	color: #fff;
}

.scrollable-menu {
	max-height: 150px;
	overflow: auto;
}

.small-modal .md-modal {
	max-width: 620px;
}

.tiny-modal .md-modal {
	max-width: 190px;
}

.md-modal .form-group {
	margin-bottom: 10px;
}

.modal-body.full {
	padding: 0;
	margin-top: -2px;
}

.modal-body.full .md-close {
	position: absolute;
	right: 5px;
	top: 0;
	padding: 10px;
	z-index: 100;
	cursor: pointer;
}

.modal-body.full .owner li a {
	padding: 5px 15px;
}

.md-modal .full .panel-body {
	padding: 10px 30px 0;
}

.md-modal .guest-address label {
	width: 50%;
	text-align: right;
}

.md-modal .guest-address input {
	width: 40%;
}

.md-modal .date-input {
	width: 120px;
}

.md-modal .row {
	margin: 15px -15px;
}

.md-modal select {
	max-width: 100%;
}

.md-modal form .owner.nav-tabs {
	margin: 5px -15px;
}

.text-center form.editable-checklist{
	text-align: left;
}

.invoice-items .text-center .form-control {
	display: inline-block;
}

.booking_create_search {
	width: auto;
}

.booking_create_search .select select{
	padding: 5px;
	font-size: 15px;
}

.booking_create_search .input-group {
	width: 90px;
}

.booking_create_search .td_nights {
	font-size: 16px;
	color: #555;
	padding-left: 15px;
	padding-right: 15px;
}

#create_Booking_Body #table-bookinglist_wrapper > div.row{
	display: none;
}

.booking_create_search .searchButton .btn{
	margin-top: 20px;
}

.table-filters table td {
	border: 0 none !important;
}

.table-filters .datepicker_wrapper {
	width: 274px;
	padding-top: 28px;
}

.table-filters .datepicker_wrapper span {
	margin-right: 12px;
}

.table-filters .incrementer td{
	padding: 5px;
}


.input-group.short {
	width: 90px;
	margin: auto;
}

.input-group-addon {
	cursor: pointer;
}

.reservation-summary .panel-heading {
	color: #03a9f4;
	font-size: 18px;
	padding-top: 0;
}

.reservation-summary .panel-body.first{
	border-bottom: 1px solid #eee;
}

.reservation-summary .panel-body button {
	width: 100%;
	margin-top: 20px;
}

.reservation-summary .detail {
	font-size: 12px;
}

.reservation-summary .price {
	color: #03a9f4;
	font-size: 24px;
}

.ui-checkbox {
	padding: 15px 0px 0px 0px;
}

.options .form-group button.btn, .options .form-group button.btn:focus, .options .form-group button.btn:active{
	outline: none;
}


.main > .nav-tabs li:not(.active) a {
	background: #03a9f4;
	color: #fff;
}
/*Autocomplete*/
.autocomplete-box {
	position: relative;
}

.autocomplete-list {
	position: absolute;
	width: 100%;
	z-index: 10000;
	border: 1px solid #eee;
	max-height: 200px;
	overflow: auto;
}

.autocomplete-list span {
	display: block;
	padding: 5px 15px;
	width: 100%;
	background: #fff;
	cursor: pointer;
}

.autocomplete-list span:hover,
.autocomplete-list span.active {
	background: #eee;
}

/*.conditions .checkbox-nice{
	width: 22px;
	margin: 0 auto;
}*/

.conditions .item-wrapper .editable-click{
	color: #03a9f4;
}

.options .checkbox-nice{
	width: 22px;
	margin: 0 auto;
}

.options .form-group .checkbox-nice{
	position: relative;
	padding-left: 15px;
	width: auto;
}


.options .checkbox-nice.full{
	width: 100%;
}

.options .checkbox-nice.full label{
    font-size: 1em;
    font-weight: 300;
    text-align: left;
}

input + .autocomplete-list {
	display: none;
}

input:focus + .autocomplete-list {
	display: block;
}

.booking-form label {
	padding-top: 7px;
}

.booking-form .rate-plan {
	padding-top: 6px;
}

.panel-heading a,
.panel-heading a:hover {
	color: #fff;
	display: block;
}

.dropzone {
	width: 300px;
}

.logo-img-preview {
	padding: 5px;
	max-width: 150px;
	max-height: 150px;
	margin-left: 50px;
	border: 1px solid #eee;
}

@media screen and (max-width: 770px) {
	.table-filters td {
		width: 100%;
		padding: 5px;
		display: block;
		text-align: center;
	}

	.table-filters .input-group,
	.table-filters .btn {
			width: 100%;
	}

	.booking_create_search {
		margin: auto;
	}
}

.status-info-panel { 
    margin-bottom:20px; 
}

.user-name { 
    color:#2194F1; 
    font-size:14px; 
    font-weight:bold; 
    padding-bottom:1px; 
    margin:0 0 4px 0; 
    width:280px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.in-out-room { 
    color:#666; 
    font-size:12px;
}

.status-icons { 
    margin-top:-5px; 
    margin-right:-2px; 
}
.status-icons span, .status-icons span a { 
    display:inline-block; 
    margin-top:5px;
    font-size: 10px;
    color:#FFF; 
}

.status-icons span a:hover { 
    color:#333; 
}

/*
.user-status .btn { 
    padding:1px 26px; 
    margin:6px 0 0 0;
}
*/

.user-status .custom { 
    background-color:#D5D5D5; 
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.scroll-fix::-webkit-scrollbar { display: none; }
.scroll-fix { overflow-y: hidden; }
.scroll-fix:focus { overflow-x:hidden; overflow-y: auto; }
 
::-webkit-scrollbar {
  width: 6px; !important
}

.slimScrollBar { width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 30px; background: rgb(0, 0, 0); }

.dropdown-menu-custom { border:1px solid #eee; display:inline-block; border-radius:4px; background-color:#fff; }
.dropdown-menu-custom li { padding:6px 14px 6px 10px; border-bottom:1px solid #eee; }
.dropdown-menu-custom li:hover { background-color:#edf6fe; }

.dropdown-menu-custom li .icon { margin-right:4px; }
.dropdown-menu-custom li a { color:#666; }
.dropdown-menu-custom li a .icon { color: #ccc;}
.dropdown-menu-custom li a:hover { color: #000; text-decoration:none;}
.dropdown-menu-custom li a:hover .icon { color: #2294f1;}

.form-control-required {
    border-color: rgba(52,151,219,0.6);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(52,152,219,0.6);
}