<div class="modal-header">
    <h3 class="modal-title" style="border:none" translate="BOOKING_CONFIRMATION_MODAL_TITLE"></h3>
</div>
<div class="modal-body" style="padding:15px">

<div class="main-box infographic-box colored emerald-bg">
<i class="fa fa-check"></i>
<span class="headline">{{'BOOKING_CONFIRMATION_MODAL_ID' | translate}}: {{ ID }}</span>
<span class="value">{{BookingCode}}</span>
</div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">OK</button>
    <!-- <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
</div>