<div class="tab-pane fade in active" id="tab-roomtypes">
  <div style="margin-bottom: 10px;">
  <button type="button" class="btn btn-primary" ng-click="addRoomType()">
  <span class="fa fa-plus"></span> <span translate="PROPERTY_ROOM_ADD_ROOM_TYPE">Add Room Type</span>
  </button>
  </div>
  
    <uib-accordion close-others="false">

    <div class="row" ng-repeat="rt in roomtypes" style="padding-bottom: 4px;">
    <div class="col-xs-11" style="padding-right=0px;">

      <uib-accordion-group is-open="openroomtypes[$index]" id="anchor{{$index}}">
          <uib-accordion-heading class="uib-accordion-toggle">
             <span translate="PROPERTY_ROOM_ROOM_TYPE"></span><span> {{rt.ShortDescription}}</span>
             <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openroomtypes[$index], 'glyphicon-chevron-right': !openroomtypes[$index]}"></i>
          </uib-accordion-heading>
          
          <div class="col-lg-7">
          
          <div class="main-box clearfix" style="min-height: 500px;padding-right: 40px;">
          
          <header class="main-box-header">
            <h2 translate="PROPERTY_ROOM_GENERAL_INFORMATION">General Information</h2>
      </header>
      
      <!-- <div class="main-box-body clearfix" style="padding-top: 20px;"> -->

        
          <div class="form-horizontal">
            <div class="form-group">
          <label class="col-lg-4 control-label" translate="PROPERTY_ROOM_OCCUPANCY_ADULTS"> Occupancy Adults </label>
          <div class="col-lg-8">
          <select class="form-control" style="max-width:80px;" ng-change="roomtypechanged=true" ng-model="rt.OccupancyAdults">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label" translate="PROPERTY_ROOM_OCCUPANCY_CHILDREN"> Occupancy Children </label>
          <div class="col-lg-8">
          <select class="form-control" style="max-width:80px;" ng-model="rt.OccupancyChildren" ng-change="roomtypechanged=true">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label" translate="PROPERTY_ROOM_SIZE">Size</label>
          <div class="col-lg-8">
          <a href="#" ng-model="rt.RoomSize" onaftersave="rtchg()" editable-text="rt.RoomSize">{{ rt.RoomSize || ('GENERAL_NOT_SET' | translate) }}</a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label" translate="PROPERTY_ROOM_BED_TYPE"> Bed Type </label>
          <div class="col-lg-8">
          <div class="btn-group" ng-repeat="bt in BedTypes" >
            <label class="btn btn-primary" ng-change="$parent.roomtypechanged=true;" ng-model="rt.BedType" uib-btn-radio="'{{bt.ID}}'">{{bt.Name}}</label>
          </div>
          </div>
        </div>  
      
        <div class="form-group">
          <label class="col-lg-4 control-label" translate="PROPERTY_ROOM_ROOM_TYPE_AMENITIES">Room Type Amenities</label>
          <div class="col-lg-8">
            <ui-select multiple on-select="addRTAmenetiy(rt,$item)" on-remove="deleteRTAmenetiy(rt,$item)" ng-model="rt.RoomTypeAmenityListS" theme="select2" ng-disabled="disabled" style="width: 100%;" >
                <ui-select-match placeholder="{{'PROPERTY_ROOM_ROOM_AMENTITIES_SELECT' | translate }}">{{$item.Description}}</ui-select-match>
                <ui-select-choices repeat="amenity in RoomTypeAmenityType | filter:$select.search">
                    <i ng-hide="amenity.Icon==null || amenity.Icon=='null'" ng-class="' fa '+ amenity.Icon"></i>
                    <div ng-bind-html="amenity.Description | highlight: $select.search"></div>
                    <!-- 
                    <small>
                    Icon: <i ng-class="' fa '+ amenity.Icon"></i>
                    Group: <span ng-bind-html="''+amenity.Group | highlight: $select.search"></span>
                    </small>
                     -->
                  </ui-select-choices>
              </ui-select>
              <!-- <p>Selected: {{rt.RoomTypeAmenityList}}</p>
               -->
            </div>
        </div>
        
        <div class="row" style="padding-top:10px;">
                <div class="pull-right">                              
                      <button type="submit" ng-disabled="!roomtypechanged && rt.ID!=-1" ng-click="saveRoomType(rt,$index)" title="{{'PROPERTY_ROOM_SAVE_TOOLTIP' | translate}}" class="btn btn-primary btn-sm" translate="PROPERTY_ROOM_SAVE"> Save </button>
                </div>
        </div>
        </div>
        <!-- </div> -->
        </div>
        </div>

          <div class="col-lg-5">
            <div class="main-box clearfix" style="min-height: 500px;">
              <header class="main-box-header">
          <h2 translate="PROPERTY_ROOM_UPLOADED_IMAGES_WITH_SORTING">Uploaded images - Drag &amp; Drop images for sorting</h2>
          </header>
          <!-- <div class="main-box-body clearfix" style="padding-top: 20px;"> -->
          <div id="gallery-photos-wrapper" sortgal>
            <ul id="gallery-photos" class="clearfix gallery-photos gallery-photos-hover">
              <li id="recordsArray_{{images.ID}}" class="col-md-2 col-sm-3 col-xs-6" ng-repeat="images in rt.RoomTypeImages">
                <div class="photo-box" style="background-image: url('{{images.Url}}'); min-width:50px;"></div>
                <a ng-click="removeRoomTypeImages($index,images)" class="remove-photo-link">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <span ng-hide="rt.RoomTypeImages.length" translate="PROPERTY_ROOM_NO_IMAGES">No Images</span>
          </div>
          <!-- </div> -->
          
          
          <div ng-if="rt.ID!=-1">
          <form  id="uploadRoomTypeImages{{rt.ID}}" dropzone3="{{$index}}" class="dropzone dz-clickable" style="min-height: 150px; width:100%;" >
            <div class="dz-default dz-message">
              <span translate="PROPERTY_ROOM_DROP_IMAGES_HERE">Drop Images here</span>
            </div>
          </form>
          </div>
            
            
            </div>
          </div>

      <!-- <div class="main-box clearfix">
    <div class="main-box-body clearfix" > -->
    <div class="col-lg-12">
    <h2 translate="PROPERTY_ROOM_ROOM_TYPE_DESCRIPTION"> Room Type Description </h2>
        <uib-accordion close-others="false">
        
    <div class="row" ng-repeat="d in rt.RoomTypeDesc" style="padding-bottom: 4px;">
    <div class="col-xs-11" style="padding-right=0px;">
            <uib-accordion-group>
                <uib-accordion-heading>
                    {{d.LangCode}}
                </uib-accordion-heading>
                
                <form>
                <div class="row">
                  <label><span translate="PROPERTY_ROOM_SHORT_DESCRIPTION">Short description </span></label>
                  <input type="text" class="form-control" ng-model="d.ShortDescription" placeholder="{{'PROPERTY_ROOM_SHORT_DESCRIPTION_PLACEHOLDER' | translate}}" title="{{'PROPERTY_ROOM_SHORT_DESCRIPTION_TOOLTIP' | translate}}"/>
                    <label><span  translate="PROPERTY_ROOM_LONG_DESCRIPTION">Long description  </span></label>
                  <input type="text" class="form-control" ng-model="d.LongDescription" placeholder="{{'PROPERTY_ROOM_LONG_DESCRIPTION_PLACEHOLDER' | translate}}" />
                </div>
                <div class="row" style="padding-top:10px;">
                <div class="pull-right">                              
                      <button type="submit" ng-click="saveRoomTypeDesc(d, $index, rt.ID)" title="{{'PROPERTY_ROOM_SAVE_TOOLTIP' | translate}}" class="btn btn-primary btn-sm" translate="PROPERTY_ROOM_SAVE">Save</button>
                </div>
                </div>
                </form>
            </uib-accordion-group>
            </div>
            <div class="col-xs-1" style="padding-left: 0px; padding-right: 0px;">
            <div class="pull-left">
              <button ng-hide="!$last" type="button" class="btn btn-link btn-lg dropdown-toggle" data-toggle="dropdown" style="padding-right: 4px; padding-left: 0px;">
              <span class="fa fa-plus"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
              <li ng-repeat="storel in lang">
              <a ng-click="addDesc(storel.Code,rt.ID,rt)" ng-bind="storel.Name"></a></li>
              </ul>
            
              <button ng-hide="d.LangCode=='ENG'" ng-click="deleteRoomTypeDesc(d.ID,$index,d.FK_RoomType)" type="button" class="btn btn-link btn-lg" style="padding-right: 0px; padding-left: 4px;">
              <span class="fa fa-trash-o"></span>
              </button>
            </div>
            
            
            </div>
            </div>




          </uib-accordion>
         
          </div>

    </uib-accordion-group>
    </div>
    <div class="col-xs-1" style="padding-left:0px;">
    <button ng-click="deleteRoomType(rt,$index)" title="{{'PROPERTY_ROOM_DELETE_ROOM_TYPE_TOOLTIP' | translate}}" class="btn btn-link btn-lg"><i class="fa fa-trash-o"></i></button>
    </div>
    </div>
    </uib-accordion>
</div>