<header class="navbar" id="header-navbar">
<div class="container">
				<a href="#/dasboard" id="logo" class="navbar-brand"> <img
					src="img/logo_white.png" alt="" class="normal-logo logo-white" /> <img
					src="img/logo-black.png" alt="" class="normal-logo logo-black" /> <img
					src="img/logo_white.png" alt=""
					class="small-logo hidden-xs hidden-sm hidden" />
				</a>

				<div class="clearfix">
					<button class="navbar-toggle" data-target=".navbar-ex1-collapse"
						data-toggle="collapse" type="button">
						<span class="sr-only">Toggle navigation</span> <span
							class="fa fa-bars"></span>
					</button>

					<div
						class="nav-no-collapse navbar-left pull-left">
						<ul class="nav navbar-nav pull-left">
							<li><a class="btn" id="make-small-nav"> <i
									class="fa fa-bars"></i>
							</a></li>


							<li class="dropdown"><a
								class="btn dropdown-toggle" data-toggle="dropdown"> Hotel
									Name <i class="fa fa-caret-down"></i>
							</a>
								<ul class="dropdown-menu">
									<li class="item"><a href="#"> <i class="fa fa-home"></i>
											Hotel Name 2
									</a></li>
									<li class="item"><a href="#"> <i class="fa fa-home"></i>
											Hotel Name 3
									</a></li>
									<li class="item"><a href="#"> <i class="fa fa-home"></i>
											Hotel Name 4
									</a></li>
								</ul></li>


						</ul>
					</div>

					<div class="nav-no-collapse pull-right" id="header-nav">
						<ul class="nav navbar-nav pull-right">
							<li class="mobile-search hidden-sm hidden-xs"><a class="btn"> <i
									class="fa fa-search"></i>
							</a>

								<div class="drowdown-search">
									<form role="search" >
										<div  class="form-group">
											<input ng-model="searchState.searchTerm" type="text" class="form-control"
												placeholder="Search..." ng-change="searchHeader()"> <i
												class="fa fa-search nav-search-icon"></i>
										</div>
									</form>
								</div></li>

							<li class="dropdown hidden-xs" ng-app="BearPMSWebApp"
								ng-controller="translationCtrl"><a
								class="btn dropdown-toggle" data-toggle="dropdown">{{selectedLanguage.toUpperCase()}}
									<i class="fa fa-caret-down"></i>
							</a>
								<ul class="dropdown-menu language"
									style="padding: 0px; text-align: center; min-width: 50px;">

									<li data-ng-show="selectedLanguage !== 'en' " class="ng-hide"><a
										ng-click="translatelabels('en')">EN</a></li>
									<li data-ng-show="selectedLanguage !== 'es' " class=""><a
										ng-click="translatelabels('es')">ES</a></li>
									<li data-ng-show="selectedLanguage !== 'pl' " class=""><a
										ng-click="translatelabels('pl')">PL</a></li>
									<li data-ng-show="selectedLanguage !== 'fr' " class=""><a
										ng-click="translatelabels('fr')">FR</a></li>


								</ul></li>


							<li class="dropdown profile-dropdown"><a
								class="dropdown-toggle" data-toggle="dropdown"> <img
									src="img/samples/scarlet-159.png" alt="" /> <span
									class="hidden-xs">Scarlett Johansson</span> <b class="caret"></b>
							</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="#/pages/user-profile"><i
											class="fa fa-user"></i>Profile</a></li>
									<li><a href=""><i class="fa fa-cog"></i>Settings</a></li>
									<li><a href=""><i class="fa fa-envelope-o"></i>Messages</a></li>
									<li><a href=""><i class="fa fa-power-off"></i>Logout</a></li>
								</ul></li>

							<li class="visible-lg"><a data-toggle-fullscreen=""> <em
									class="fa fa-expand"></em>
							</a></li>

							<li class="dropdown hidden-xs"><a
								class="btn dropdown-toggle" data-toggle="dropdown"> <i
									class="fa fa-cog"></i>
							</a>
								<ul id="config-tool" class="dropdown-menu dropdown-menu-right"
									style="text-align: center;">


									<li>




										<div id="config-tool-options">
											<h4>Layout Options</h4>
											<ul>
												<li>
													<div class="checkbox-nice">
														<input type="checkbox" id="config-fixed-header" /> <label
															for="config-fixed-header"> Fixed Header </label>
													</div>
												</li>
												<li>
													<div class="checkbox-nice">
														<input type="checkbox" id="config-fixed-sidebar" /> <label
															for="config-fixed-sidebar"> Fixed Left Menu </label>
													</div>
												</li>
												<li>
													<div class="checkbox-nice">
														<input type="checkbox" id="config-fixed-footer" /> <label
															for="config-fixed-footer"> Fixed Footer </label>
													</div>
												</li>
												<li>
													<div class="checkbox-nice">
														<input type="checkbox" id="config-boxed-layout" /> <label
															for="config-boxed-layout"> Boxed Layout </label>
													</div>
												</li>
												<li>
													<div class="checkbox-nice">
														<input type="checkbox" id="config-rtl-layout" /> <label
															for="config-rtl-layout"> Right-to-Left </label>
													</div>
												</li>
											</ul>
											<br />
											<h4>Skin Color</h4>
											<ul id="skin-colors" class="clearfix">
												<li><a class="skin-changer" data-skin=""
													data-toggle="tooltip" title="Default"
													style="background-color: #34495e;"> </a></li>
												<li><a class="skin-changer" data-skin="theme-white"
													data-toggle="tooltip" title="White/Green"
													style="background-color: #2ecc71;"> </a></li>
												<li><a class="skin-changer blue-gradient"
													data-skin="theme-blue-gradient" data-toggle="tooltip"
													title="Gradient"> </a></li>
												<li><a class="skin-changer" data-skin="theme-turquoise"
													data-toggle="tooltip" title="Green Sea"
													style="background-color: #1abc9c;"> </a></li>
												<li><a class="skin-changer" data-skin="theme-amethyst"
													data-toggle="tooltip" title="Amethyst"
													style="background-color: #9b59b6;"> </a></li>
												<li><a class="skin-changer" data-skin="theme-blue"
													data-toggle="tooltip" title="Blue"
													style="background-color: #2980b9;"> </a></li>
												<li><a class="skin-changer" data-skin="theme-red"
													data-toggle="tooltip" title="Red"
													style="background-color: #e74c3c;"> </a></li>
												<li><a class="skin-changer" data-skin="theme-whbl"
													data-toggle="tooltip" title="White/Blue"
													style="background-color: #3498db;"> </a></li>
											</ul>
										</div>
									</li>
								</ul></li>


						</ul>
					</div>
				</div>
			</div>
			</header>